.slider .track {
    -fx-background-color:#757171;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}
.root {
-fx-background-color:#212121;
}

.button{
-fx-background-color:#212121;
-fx-text-fill:#000000;
-fx-button-background-radius: 30;
-fx-border-color:#666666;

}

.button:pressed{
-fx-border-color:#CBC0C0;
}



.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #212121;
    -fx-text-fill: black;
}

.list-cell {
    -fx-control-inner-background:#212121 ;
    -fx-border-color:#666666;
    -fx-mark-color:#212121;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}
.list-view {
    -fx-background-insets: 0;
      -fx-padding: 0;

}
.label{
 -fx-text-fill: white;   }


